@font-face {
    font-family: 'Gumbo-DEMO-Regular';
    src:url('/fonts/Gumbo-DEMO-Regular.ttf.woff') format('woff'),
        url('/fonts/Gumbo-DEMO-Regular.ttf.svg#Gumbo-DEMO-Regular') format('svg'),
        url('/fonts/Gumbo-DEMO-Regular.ttf.eot'),
        url('/fonts/Gumbo-DEMO-Regular.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
